/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
p{
    font-size: 4rem;
    text-align: center;
}
.none{
    display: none;
}
button{
    font-size: 2rem;
    border-radius: 1.5rem;
    padding: 2rem;
    background-color:azure
    border: 1px solid black;
}